body {
    font-family: 'Gabarito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2edd4; /* Beige clair */
    color: #322D2B; /* Noir brunâtre */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 70px; /* Ajoute un padding en haut pour éviter que le contenu soit caché derrière le header */
}

header {
    background-color: #322D2B; /* Noir brunâtre */
    color: #f2edd4; /* Beige clair */
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed; /* Fixe le header en haut de la page */
    top: 0;
    width: 100%;
    z-index: 1000; /* Assure que le header reste au-dessus des autres éléments */
}

header .logo img {
    max-height: 60px; /* Réduire la hauteur du logo */
    margin-left: 10px; /* Réduire la marge */
}

nav ul {
    list-style: none;
    padding: 0;
    margin-right: 10px; /* Réduire la marge */
    display: flex;
    gap: 10px;
}

nav ul li {
    position: relative;
    display: inline-block;
    margin: 0 10px; /* Réduire la marge */
}

nav ul li a {
    color: #f2edd4; /* Beige clair */
    text-decoration: none;
    font-weight: bold;
}

nav ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #322D2B; /* Noir brunâtre */
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

nav ul li .dropdown-content a {
    color: #f2edd4; /* Beige clair */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav ul li .dropdown-content a:hover {
    background-color: #575757; /* Gris foncé */
}

nav ul li .arrow {
    font-size: 0.8em;
    margin-left: 5px;
}

nav ul li .dropdown-content.show {
    display: block;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    padding: 60px 20px;
    text-align: center;
}

.hero-content {
    max-width: 800px;
}

.hero-text {
    padding: 20px;
}

.hero-text h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.hero-text .btn {
    background-color: #eccd3e; /* Jaune doré */
    color: #322D2B; /* Noir brunâtre */
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

/* #apropos {
    background: url('images/apropos-bg1.jpg') no-repeat center center/cover; 
    color: #f8f2f2; 
    padding: 60px 20px;
    text-align: center;
} */

#histoire, #engagement {
    padding: 60px 20px;
    text-align: center;
    background-color: #f9f4f3; /* Couleur de fond personnalisée */
}

.histoire-content, .engagement-content {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 1.2em;
    line-height: 1.6;
}

.histoire-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.histoire-img {
    max-width: 45%;
    border-radius: 10px;
}

.histoire-text {
    max-width: 50%;
    text-align: left;
}

.histoire-video {
    max-width: 45%;
    border-radius: 10px;
}


.engagement-content {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 1.2em;
    line-height: 1.6;
}

.engagement-blocs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

.engagement-bloc {
    position: relative;
    width: calc(25% - 10px);
    margin-bottom: 20px;
}

.engagement-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.engagement-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.engagement-bloc:hover .engagement-overlay {
    opacity: 1;
}

.separator {
    background-color: #322D2B; /* Noir brunâtre */
    color: #f2edd4; /* Beige clair */
    text-align: center;
    padding: 20px 0;
    margin: 0;
}

.separator h2 {
    margin: 0;
    font-size: 2em;
}

#team {
    padding: 60px 20px;
    text-align: center;
}

.team-content {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.team-member {
    flex: 1 1 calc(33% - 40px);
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
}

.team-member img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.team-member h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.team-member p {
    font-size: 1em;
    color: #666;
}

footer {
    background-color: #322D2B; /* Noir brunâtre */
    color: #f2edd4; /* Beige clair */
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}