/* Section Hero */
.hero.strategie-hero {
    padding: 50px 20px;
    background-color: #f4ebe2;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.hero-image {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
}

.hero-text {
    max-width: 45%;
    text-align: left;
}

.hero-text h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.2rem;
    color: #666;
}

/* Section Content */
.content.strategie-content {
    padding: 40px 20px;
    background-color: #fff;
}

.content.strategie-content h2 {
    font-size: 2rem;
    color: #b04329;
    margin-bottom: 20px;
}

.content.strategie-content ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #444;
}

.content.strategie-content .btn-primary {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ecb53e;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.content.strategie-content .btn-primary:hover {
    background-color: #b04329;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: #fff;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .hero-container {
        flex-direction: column;
        text-align: center;
    }

    .hero-image, .hero-text {
        max-width: 100%;
    }
}

.dynamic-text {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    color: #333;
    animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.services-list {
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap; 
    gap: 20px; 
    padding: 0;
    list-style: none; 
    margin: 20px 0;
}

.service-item {
    flex: 1 1 calc(30% - 20px); 
    background-color: #f4ebe2; 
    color: #322D2B; 
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.5;
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.service-item:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

/* h2.dynamic-text {
    color: #ffcc33; 
} */